@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');


html, body, label {
    font-family: 'Roboto', sans-serif !important;
  }
/* Scrollbar Styles */
body::-webkit-scrollbar {
    display: none;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1.2s infinite ease-in-out;
    margin-left: -45px;
    position: absolute;
}

.acrostic-head-1 {
    color: transparent;
    animation: text_reveal 1.3s ease forwards;
    animation-delay: 0.4s;
}
.acrostic-head-2 {
    color: transparent;
    animation: text_reveal 1.3s ease forwards;
    animation-delay: 0.7s;
}
.acrostic-head-3 {
    color: transparent;
    animation: text_reveal 1.3s ease forwards;
    animation-delay: 0.9s;
}
.acrostic-head-4 {
    color: transparent;
    animation: text_reveal 1.3s ease forwards;
    animation-delay: 1.1s;
}
.acrostic-head-5 {
    color: transparent;
    animation: text_reveal 1.3s ease forwards;
    animation-delay: 1.3s;
}

@keyframes text_reveal {
    100% {
        color: white;
    }
}
