.post-title {
    font-size: 60px;
    font-weight: bold;
    margin-top: 30px;
    color: #ffffff;
    font-weight: normal;
}

.post-description {
    font-size: 30px;
    font-weight: normal;
    margin-top: 10px;
    color: #ffffff;
}

.post-content{
    font-size: 20px;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
    font-weight: bold;
    margin-top: 30px;
}

.post-content h1 {
    font-size: 30px;
}

.post-content h2 {
    font-size: 25px;
}

.post-content p {
    font-size: 20px;
    font-weight: normal;
    line-height: 35px;
    margin-top: 10px;
}

@keyframes bouncing {
    0% {bottom: 0;}
    50% {bottom: 20px;}
    100% {bottom: 0;}
}

.arrow {
    animation: bouncing 1.2s infinite ease-in-out;
    margin-left: -45px;
    position: absolute;
}

pre {
    max-width: 700px;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    pre {
        max-width: 380px;
        overflow: hidden;
    }    
    
}